#wrapper{
    position: relative;
    margin: 50px auto 10px;
    background-color:white;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgb(207,207,207) rgb(207,207,207) rgb(179,179,179);
    width: 80%;
    min-width: 900px;
    min-height: 500px;
}
#w_t {
    position: relative;
    height: 120px;
    border-bottom: 1px solid #cfcfcf;
}
#w_t h3{
    margin: 20px 0 0 20px;
    font-size: 36px;
    float: left;
}
#sign{
    margin: 40px 0 0 12px;
    font-size: 16px;
    float: left;
}
#w_t ul{
    position: absolute;
    top: 100px;
    left: 80px;
    height: 20px;
}
#w_t li{
    text-align: center;
    width: 80px;
    height: 21px;
    border-top: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-bottom: none;
    border-right: 1px solid #cfcfcf;
    background: #fff;
}
#w_l{
    float: left;
    width: 260px;
}
#w_r{
    float: right;
    width: 260px;
}
#w_m{
    float: left;
    margin: 0 20px;
}
#w_avatar{
    margin:10px;
}
#w_avatar button{
    width: 100px;
    height: 30px;
}
#w_info{
    margin:10px;
    color: #888;
}
.v{
    margin-left: 5px;
    color: #333;
}
#rating{
    margin-top: 20px;
    color: #333;
}
#starbg{
    float: left;
    width: 330px;
    height: 30px;
    background: url('../images/style/star.gif');
}
#rating a{
    display: block;
    position: absolute;
    height: 30px;
}
#rating a:hover{
    background: url('../images/style/star.gif') -30px 50%;
}
#star0{
    z-index: 20;
    width: 30px;
    background: url('../images/style/star.gif') 0 0;
}
#rating #star0:hover{
    background: url('../images/style/star.gif') 0 0;
}
#star1{
    z-index: 19;
    width: 60px;
}
#star2{
    z-index: 18;
    width: 90px;
}
#star3{
    z-index: 17;
    width: 120px;
}
#star4{
    z-index: 16;
    width: 150px;
}
#star5{
    z-index: 15;
    width: 180px;
}
#star6{
    z-index: 14;
    width: 210px;
}
#star7{
    z-index: 13;
    width: 240px;
}
#star8{
    z-index: 12;
    width: 270px;
}
#star9{
    z-index: 11;
    width: 300px;
}
#star10{
    z-index: 10;
    width: 330px;
}
.slider .bar{
    float: left;
    width: 202px;
    height: 22px;
    background: url('../images/style/slider.png')0 -22px;
}
.slider .thumb{
    width: 48px;
    height: 22px;
    background: url('../images/style/slider.png') -32px 0;
}
.slider .icon{
    float: left;
    width: 16px;
    height: 16px;
    background: url('../images/style/slider.png');
}
.slider .tip{
    float: left;
    margin-left: 10px;
    color: rgb(117,114,114);
}